<?xml version="1.0" ?>
<robot name="@MASTER" xmlns:xacro="http://www.ros.org/wiki/xacro">

<xacro:include filename="$(find @MASTER_description)/urdf/materials.xacro" />
<xacro:include filename="$(find @MASTER_description)/urdf/@MASTER.trans" />
<xacro:include filename="$(find @MASTER_description)/urdf/@MASTER.gazebo" />
<link name="base_link">
  <inertial>
    <origin xyz="-0.00020037341294059567 0.13545028704028603 0.00249999016459137" rpy="0 0 0"/>
    <mass value="2.621303486169683"/>
    <inertia ixx="0.01682" iyy="0.020795" izz="0.037604" ixy="3.8e-05" iyz="-0.0" ixz="0.0"/>
  </inertial>
  <visual>
    <origin xyz="0 0 0" rpy="0 0 0"/>
    <geometry>
      <mesh filename="package://@MASTER_description/meshes/base_link.stl" scale="0.001 0.001 0.001"/>
    </geometry>
    <material name="silver"/>
  </visual>
  <collision>
    <origin xyz="0 0 0" rpy="0 0 0"/>
    <geometry>
      <mesh filename="package://@MASTER_description/meshes/base_link.stl" scale="0.001 0.001 0.001"/>
    </geometry>
  </collision>
</link>

</robot>
